<div class="container">

  <h2>Modulos</h2>

  <ul class="index-list">

    <li class="index-item">
      <a routerLink="/usuarios" class="index-link">
        <span class="index-number">01</span>
        <span class="index-title">Usuarios</span>
      </a>
    </li>

    <li class="index-item">
      <a routerLink="/clientes" class="index-link">
        <span class="index-number">02</span>
        <span class="index-title">Clientes</span>
      </a>
    </li>

    <li class="index-item">
      <a routerLink="/cabanas" class="index-link">
        <span class="index-number">03</span>
        <span class="index-title">Cabañas</span>
      </a>
    </li>

    <li class="index-item">
      <a routerLink="/espacios" class="index-link">
        <span class="index-number">04</span>
        <span class="index-title">Espacios</span>
      </a>
    </li>

    <li class="index-item">
      <a routerLink="/reservas" class="index-link">
        <span class="index-number">05</span>
        <span class="index-title">Reservas</span>
      </a>
    </li>

    <li class="index-item">
      <a routerLink="/eventos" class="index-link">
        <span class="index-number">06</span>
        <span class="index-title">Eventos</span>
      </a>
    </li>

    <li class="index-item">
      <a routerLink="/servicios" class="index-link">
        <span class="index-number">07</span>
        <span class="index-title">Servicios</span>
      </a>
    </li>

    <li class="index-item">
      <a routerLink="/pagos" class="index-link">
        <span class="index-number">08</span>
        <span class="index-title">Pagos</span>
      </a>
    </li>

    <li class="index-item">
      <a routerLink="/solicitudes" class="index-link">
        <span class="index-number">09</span>
        <span class="index-title">Solicitudes</span>
      </a>
    </li>

    <li class="index-item">
      <a routerLink="/cotizaciones" class="index-link">
        <span class="index-number">10</span>
        <span class="index-title">Cotizaciones</span>
      </a>
    </li>

    <li class="index-item">
      <a routerLink="/canales" class="index-link">
        <span class="index-number">11</span>
        <span class="index-title">Canales de origen</span>
      </a>
    </li>

    <li class="index-item">
      <a routerLink="/tipos-evento" class="index-link">
        <span class="index-number">12</span>
        <span class="index-title">Tipos de evento</span>
      </a>
    </li>

  </ul>

</div>
